apiVersion: v1
kind: Service
metadata:
  creationTimestamp: null
  labels:
    app: node-mainapi
    service: node-mainapi
  name: node-mainapi
spec:
  ports:
  - port: 3000
    protocol: TCP
    targetPort: 3000
  selector:
    app: node-mainapi
  type: ClusterIP
status:
  loadBalancer: {}
